## Battle of the Cities: Data Cleaning

In [1]:
import pandas as pd
import numpy as np

rent_data = pd.read_csv('Neighborhood_Zri_AllHomesPlusMultifamily.csv')
rent_data.head(2)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,2010-09,2010-10,2010-11,...,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09
0,274772,Northeast Dallas,Dallas,TX,Dallas-Fort Worth-Arlington,Dallas County,1,1074.0,1080.0,1093.0,...,1367.0,1368.0,1364.0,1360.0,1362.0,1367.0,1371.0,1373.0,1375.0,1378.0
1,112345,Maryvale,Phoenix,AZ,Phoenix-Mesa-Scottsdale,Maricopa County,2,896.0,915.0,913.0,...,1167.0,1169.0,1167.0,1164.0,1166.0,1170.0,1178.0,1189.0,1200.0,1207.0

## Dropping Data
This data set contains rent values for all of the US. I only want data for NYC and SF so I'll filter the data set. Also, for New York, I only want data for Manhattan, so I will need to filter for that as well.

In [2]:
rent_data = rent_data[(rent_data["City"] == "New York") | (rent_data["City"] == "San Francisco")]

In [3]:
rent_data["CountyName"].value_counts()

San Francisco County    75
Queens County           66
Richmond County         58
Kings County            52
Bronx County            44
New York County         33
Name: CountyName, dtype: int64

In [4]:
rent_data = rent_data[(rent_data["CountyName"] == "New York County") | (rent_data["CountyName"] == "San Francisco County")]
rent_data["CountyName"].value_counts()

San Francisco County    75
New York County         33
Name: CountyName, dtype: int64

Now that I have the relevant data for the cities I'm interested in, I'll drop unecessary columns.

In [5]:
rent_data.drop(["RegionID", "State", "Metro", "CountyName", "SizeRank"], axis=1, inplace=True)

#rename columns
rent_data.rename(columns={"RegionName":"Neighborhood"}, inplace=True)

rent_data.columns

Index(['Neighborhood', 'City', '2010-09', '2010-10', '2010-11', '2010-12',
       '2011-01', '2011-02', '2011-03', '2011-04',
       ...
       '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05',
       '2019-06', '2019-07', '2019-08', '2019-09'],
      dtype='object', length=111)

In [6]:
rent_data.set_index('Neighborhood', inplace=True)

The data for 2019 is incomplete at this time. Also, I'm only concerned with recent rent data, so I'll drop the data that spans from 2010 through 2017.

In [7]:
rent_data.drop(rent_data.columns.to_series()["2010-09":"2016-12"], axis=1, inplace=True)

rent_data.columns

Index(['City', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05',
       '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11',
       '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05',
       '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11',
       '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05',
       '2019-06', '2019-07', '2019-08', '2019-09'],
      dtype='object')

## Handling Missing Values

In [8]:
rent_data.isnull().sum()

City       0
2017-01    8
2017-02    8
2017-03    8
2017-04    8
2017-05    7
2017-06    8
2017-07    8
2017-08    8
2017-09    8
2017-10    9
2017-11    8
2017-12    8
2018-01    8
2018-02    7
2018-03    7
2018-04    7
2018-05    8
2018-06    7
2018-07    6
2018-08    7
2018-09    6
2018-10    5
2018-11    5
2018-12    5
2019-01    7
2019-02    9
2019-03    7
2019-04    7
2019-05    7
2019-06    7
2019-07    7
2019-08    7
2019-09    7
dtype: int64

In [14]:
rent_data[rent_data["2019-09"].isnull()]

,City,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,...,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09
Neighborhood,,,,,,,,,,,,,,,,,,,,,
Stonestown,San Francisco,4913.0,4913.0,4983.0,5039.0,5059.0,5062.0,5067.0,5057.0,4949.0,...,4822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sherwood Forest,San Francisco,NaN,NaN,4524.0,NaN,NaN,NaN,NaN,NaN,NaN,...,4464.0,4453.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Forest Hill,San Francisco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
North Waterfront,San Francisco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4559.0,4547.0,4549.0,4547.0,4550.0,4457.0,NaN
Mount Davidson Manor,San Francisco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Balboa Terrace,San Francisco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Westwood Highlands,San Francisco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4043.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

It looks like there are some missing values in each column. However, transposing the data will show if there are neighborhoods with a high volume of missing values.

In [9]:
transposed = rent_data.transpose()

transposed.isnull().sum().sort_values(ascending=False)

Neighborhood
Balboa Terrace          33
Mount Davidson Manor    33
Forest Hill             33
Westwood Highlands      30
North Waterfront        27
                        ..
NoHo                     0
Garment District         0
Haight                   0
Duboce Triangle          0
Upper West Side          0
Length: 108, dtype: int64

Considering there are 21 records for each neighborhood, I'll drop neighborhoods that are missing more than half of their data since I want a relatively accurate representation of rents in each area.

In [ ]:
rent_data.dropna(thresh=11, axis=0, inplace=True)
rent_data.isnull().sum()

In [ ]:
rent_data.to_csv('rent_data_clean.csv')