## Battle of the Cities: Data Cleaning

In [6]:
import pandas as pd
import numpy as np

rent_data = pd.read_csv('Neighborhood_Zri_AllHomesPlusMultifamily.csv')
rent_data.head(2)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,2010-09,2010-10,2010-11,...,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09
0,274772,Northeast Dallas,Dallas,TX,Dallas-Fort Worth-Arlington,Dallas County,1,1074.0,1080.0,1093.0,...,1367.0,1368.0,1364.0,1360.0,1362.0,1367.0,1371.0,1373.0,1375.0,1378.0
1,112345,Maryvale,Phoenix,AZ,Phoenix-Mesa-Scottsdale,Maricopa County,2,896.0,915.0,913.0,...,1167.0,1169.0,1167.0,1164.0,1166.0,1170.0,1178.0,1189.0,1200.0,1207.0

This data set contains rent values for all of the US. I only want data for NYC and SF so I'll filter the data set. Also, for New York, I only want data for Manhattan, so I will need to filter for that as well.

In [10]:
rent_data = rent_data[(rent_data["City"] == "New York") | (rent_data["City"] == "San Francisco")]

In [15]:
rent_data["CountyName"].value_counts()

San Francisco County    75
Queens County           66
Richmond County         58
Kings County            52
Bronx County            44
New York County         33
Name: CountyName, dtype: int64

In [16]:
rent_data = rent_data[(rent_data["CountyName"] == "New York County") | (rent_data["CountyName"] == "San Francisco County")]

Now that I have the relevant data for the cities I'm interested in, I'll drop unecessary columns.

In [17]:
rent_data.drop(["RegionID", "State", "Metro", "CountyName", "SizeRank"], axis=1, inplace=True)

#rename columns
rent_data.rename(columns={"RegionName":"Neighborhood"}, inplace=True)

rent_data.shape

c:\users\deand\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
c:\users\deand\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

(108, 111)

The data for 2019 is incomplete at this time. Also, I'm only concerned with recent rent data, so I'll drop the data that spans from 2010 through 2017.

In [26]:
rent_data.drop(rent_data.columns.to_series()["2010-09":"2017-12"], axis=1, inplace=True)

rent_data.columns

(108, 23)